@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
*::-webkit-input-placeholder
	color: #666
	opacity: 1
*:-moz-placeholder
	color: #666
	opacity: 1
*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
#comments
    padding-top: 100px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    flex-wrap: wrap
    flex-direction: column
    p
         background: #cbe4fa
         border: 1px solid #b8d9f7
         height: 80px
         width: 500px
         display: -webkit-flex
         display: -moz-flex
         display: -ms-flex
         display: -o-flex
         display: flex
         padding-left: 8px
         padding-top: 8px
         color: #000
.button
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    a
        background: #cbe4fa
        border: 1px solid #b8d9f7
        height: 50px
        width: 150px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        color: #000
        transition: all .5s
        &:hover
            text-decoration: none
            background: #3f44c4
            color: #fff
            border: 1px solid rgba(255, 255, 255, 0)
form
    position: relative
    textarea
        border: 1px solid #b8d9f7
        resize: none;
        outline: none
        padding-top: 8px
        padding-left: 8px
    input
        margin-left: 300px
        margin-top: 5px
        background: #cbe4fa
        border: 1px solid #b8d9f7
        transition: all .5s
        height: 40px
        width: 200px
        &:hover
            text-decoration: none
            background: #3f44c4
            color: #fff
            border: 1px solid rgba(255, 255, 255, 0)
            cursor: pointer
    input.delete
        position: absolute
        margin-left: -190px
        margin-top: 90px
        height: 30px
        width: 170px